# /node_modules/* in the project root is ignored by default
# build artefacts
dist/*
coverage/*
# data definition files
**/*.d.ts
# custom definition files
/src/types/
**/bak/**
**/bin/**
**/config/**
**/dist/**
**/doc/**
**/node_modules/**
**/public/**
**/report/**
**/webpack.config*.js
**/docs/**
# migration files
migrations/**
migrate-mongo-config.ts
