button.sentence {
    background-color: #eee;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

button.sentence:hover,
button.sentence:focus {
    background-color: #00eeee;
    cursor: pointer;
    text-decoration: none;
}