#pagination ul {
    display: inline-block;
    margin-left: 20px;
    padding-left: 0;
 }
 
 #pagination li {
    display: inline-block;
    border: 1px solid rgb(224, 224, 224);
    color: #000;
    cursor: pointer;
    margin-right: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
 }
 
  #pagination li a {
      padding: 2px 5px;
      display: inline-block;
      color: #000;
      outline: none;
  }
 
 #pagination li.active {
    background: rgb(224, 224, 224);
    outline: none;
 }