@import '../../theme/_variables.less';

.aletheia-header {
  background-color: @primary;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
}

.aletheia-logo {
  font-family: Noticia Text;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 9px;
  text-align: center;
  color: #ffffff;
}
